apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-{{ app_id }}-deployment
  namespace: traceassist
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-app-{{ app_id }}
  template:
    metadata:
      labels:
        app: user-app-{{ app_id }}
      annotations:
        instrumentation.opentelemetry.io/inject: "true"
        instrumentation.opentelemetry.io/inject-{{ language }}: "true"
    spec:
      serviceAccountName: traceassist-sa
      containers:
        - name: user-app
          image: {{ image }}
          imagePullPolicy: Never
          ports:
            - containerPort: {{ port }}
          env:
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "https://ingest.in.signoz.cloud:4317"
            - name: OTEL_EXPORTER_OTLP_HEADERS
              value: "Authorization=Bearer 82b0858a-0573-4057-9848-01b6f0733956"
