apiVersion: v1
kind: Service
metadata:
  name: user-app-{{app_id}}
spec:
  selector:
    app: user-app-{{app_id}}
  ports:
    - port: {{port}}
      targetPort: {{port}}
      name: http
  type: ClusterIP
